/*
This document should be used to modificate the style
of the project
*/

//upload fonts Bodoni and Futura
@font-face {
    font-family: 'futura';
    src: url(../fonts/futura.otf)
}
@font-face {
    font-family: 'bodoni';
    src: url(../fonts/BodoniMT.ttf)
}

@supports (display: grid){
    //undo the basic layout for
    //non-grid-supporting browsers


}

//variables
$bgBox_color: black;
$mouse_over: rgb(26, 26, 26);
$color_text: white;
$gap_box: 1px;
$fontB: bodoni;
$fontF: futura;


* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(4, 25%);
    grid-gap: $gap_box;
    grid-auto-rows: 50%;
  }
  
 .grid-item, a{
    display: flex;
    background-color: $bgBox_color;
    color: $color_text;
    align-items: center;
    justify-content: center;
  }

.grid-item-special, p {
    grid-column: 2 / 4;
    grid-row: 2;
    display: flex;
    background-color: $bgBox_color;
    color: $color_text;
    align-items: center;
    justify-content: center;
}

.grid-item:hover, a:hover{
    background-color: $mouse_over;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

a{
    font-family: $fontF;
    font-size: 18px;
    color: $color_text;
    text-decoration: none;
    
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 768px) {

    .grid-container {
        display: grid; 
        grid-template-columns: repeat(2, 50%);
        grid-gap: $gap_box;
        grid-auto-rows: 25%;
      }

} 
