/*
This document should be used to modificate the style
of the project
*/

//upload fonts Bodoni and Futura
@font-face {
    font-family: 'futura';
    src: url(../fonts/futura.otf)
}
@font-face {
    font-family: 'bodoni';
    src: url(../fonts/BodoniMT.ttf)
}

//variables
$bgBox_color: black;
$lnBox_color: white;
$color_text: white;
$logo: '../img/logo.png';
$fontB: bodoni;
$fontF: futura;
$fbLogo: '../img';  //add full path
$instLogo: '../img'; //add full path
$xLogo: ''; //add full path
$backLogo: ''; //add full path
$menuLogo: ''; //add full path
$searchLogo: ''; //add full path
$playLogo: ''; //add full path
$shareLogo: ''; //add full path

* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
  }
  
 .grid-item {
    background-color: $bgBox_color;
    color: $color_text;
    border: 1px solid $lnBox_color;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 768px) {

} 
