nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') cocoaStream
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/animacion') Animación
      li.nav-item
        a.nav-link(href='/cine') Cine
      li.nav-item
        a.nav-link(href='/tv') TV
      li.nav-item
        a.nav-link(href='/contactanos') Contáctanos
      li.nav-item
        a.nav-link(href='/nosotros') Nosotros
  //-  form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text', placeholder='Search')
      button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search//