extends layout

block content
  .grid-item-logo
          a(href="./" )
            img(id='cocoasLogo' src="./img/logo.svg" alt="cocoa stream") 
  .grid-item
  .grid-item
  .grid-item-menu
          a(href="./menu" )
            img(id='menuLogo' src="./img/menu.svg" alt="menu")
  .grid-item
  .grid-item
  .grid-item
  .grid-item
  

