extends layout

block content
    .grid-item-logo
        a(href="./" )
          img(id='cocoasLogo' src="./img/logo.svg" alt="cocoa stream")
    .grid-item-menu
        a(href="./menu" )
          img(id='menuLogo' src="./img/menu.svg" alt="menu")
    .grid-item-back
        a(href="./menu" )
          img(id='backLogo' src="./img/back.svg" alt="retornar")
    .grid-item-filter
        a(href="./contactanos") CONTACTANOS 
    .grid-item-contactos-pc
      p(class='textContCarr') CINE
    .grid-item-contactos-pc
      p(class='textContCoor') Armando Salazar 
    .grid-item-contactos-mobile
      p(class='textContMobInfo' style='width:35px;') CINE
      p(class='textContMobInfoCoor') Armando Salazar
      img(id='rightLogo' src="./img/right.svg", alt="info")
    .grid-item-texto
      p(class='textContInfo') La carrera de Cine se enfoca en las
        |  teorías, herramientas, procesos de 
        |  producción y distribución 
        |  de películas, tanto cortometrajes
        |  como largometrajes, ya sean estos
        |  documentales o de ficción.
    .grid-item-button
      input(type="button" class='button' value='Malla Academica')
      input(type="button"  class='button' value='Más Información')
    .grid-item-contactos-mobile
        |
        |
    .grid-item-contactos-pc
      p(class='textContCarr') ANIMACIÓN
    .grid-item-contactos-pc
      p(class='textContCoor') Karla Diaz
    .grid-item-contactos-mobile
      p(class='textContMobInfo' style='width:60px;') ANIMACIÓN
      p(class='textContMobInfoCoor') Karla Diaz
      img(id='rightLogo' src="./img/right.svg", alt="info")
    .grid-item-texto
      p(class='textContInfo') La carrera de Animación Digital 
        |  está constituida por cuatro pilares
        |  fundamentales: el dibujo, las herra
        |  mientas digitales, la producción de
        |  cortometrajes animados y la forma
        |  ción profesional integral.
    .grid-item-button
      input(type="button" class='button' value='Malla Academica')
      input(type="button" class='button' value='Más Información')
    .grid-item-contactos-mobile
      |
      |  
    .grid-item-contactos-pc
      p(class='textContCarr') T.V. Y MEDIOS DIGITALES
    .grid-item-contactos-pc
      p(class='textContCoor') Javier Arano
    .grid-item-contactos-mobile
      p(class='textContMobInfo') T.V. Y MEDIOS DIGITALES
      p(class='textContMobInfoCoor') Javier Arano
      img(id='rightLogo' src="./img/right.svg", alt="info")
    .grid-item-texto
      p(class='textContInfo') La carrera de Producción para Me
        |  dios de Comunicación forma 
        |  individuos que tengan una combi
        |  nación de destrezas y habilidades
        |  técnicas con un riguroso conoci
        |  miento teórico y crítico del medio 
        |  para que se desenvuelvan 
        |  eficientemente en todos los ámbitos
        |  audiovisuales.
    .grid-item-button
      input(type="button" class='button' value='Malla Academica')
      input(type="button" class='button' value='Más Información')
    .grid-item-contactos-mobile