doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    .container.padder
      br
      br
      .text-center
        a(href="/admin/perfiladmin")
          img(id='cocoasLogo' src="../img/logo.svg" alt="cocoa stream" class="grid-item")
      .form-inline
      //.text-md-right
      br
      .mx-auto.text-center.form-group
          p Crear Administradores
          br
          form(action="/admin/perfiladmin", method="get")
          .row
            .mx-auto.col-6
              .mx-auto.col-12
                  label(for='exampleInputEmail1') Dirección Email
              .mx-auto
                  input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Ingresa tu email')
                  //small#emailHelp.form-text.text-muted Cocoa Stream no compartirá tu Email con nadie más.
              .mx-auto.col-12
                  label(for='exampleInputEmail1') Nombre de usuario
              .mx-auto
                  input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Ingresa tu nombre')
              .mx-auto.col-12
                  label(for='exampleInputPassword1') Contraseña usuario
              .mx-auto
                  input#exampleInputPassword1.form-control(type='password', placeholder='Contraseña')
                  br
              .mx-auto
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                    <label class="custom-control-label" for="customRadio1">Cine</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Producción TV</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Animación</label>
                  </div>
                  br
              .mx-auto
                label(for='exampleInputPassword1') Contraseña Admin
              .mx-auto
                input#exampleInputPassword1.form-control(type='password', placeholder='Contraseña Admin')
                br
                button.btn.btn-primary(type='submit') Crear



                