doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    |
    .padder
      br
      br
      img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream" class="grid-item")
      .form-inline
        br
        p Nombre Administrador
      .text-right.botones-perfil
        //<button type="button" class="btn btn-primary">Subir Video</button>
        <button type="button" class="btn btn-secondary">Volver</button>
      form.form-horizontal(action="", method='post', role="form")
        p Editar Video
        button.btn.btn-secondary Guardar
        br
        .container
          .row
            .col-md-6
              br
              br
              img(id='vid-preview' src="/img/playeditor.png" alt="cocoa stream" class="btn btn-outline-secondary")
            .col-md-6 
                br
                br
                <input type="text" class="form-control" class="centro" placeholder="Título" name="titulo">
                br
                <input type="text" class="form-control" class="centro" placeholder="Género" name="genero">
                br
                <input type="text" class="form-control" class="centro" placeholder="Descripción" name="descripcion">
                br
                <input type="text" class="form-control" class="centro" placeholder="Creador" name="creador">
                br
                <input type="text" class="form-control" class="centro" placeholder="Director" name="director">
                br
                <input type="text" class="form-control" class="centro" placeholder="Producto " name="productor">
                br
                <input type="text" class="form-control" class="centro" placeholder="Elenco" name="elenco">
                br
                label.btn.btn-primary.file-upload-container(for='video-upload')
                  input#video-upload(type='file', style='display:none;' name='videoItem')
                  |  Subir Video
                label.btn.btn-secondary.file-upload-container(for='foto-upload')
                  input#foto-upload(type='file', style='display:none;' name='fotoItem')
                  |  Subir Preview
      //script
        include ../../public/javascripts/uploader.js