doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    |
    .padder
      br
      br
      img(id='cocoasLogo' src="./img/logo.svg" alt="cocoa stream" class="grid-item")
      .form-inline
        br
        p Nombre Administrador
      .text-right.botones-perfil
        <button type="button" class="btn btn-primary">Subir Video</button>
        <button type="button" class="btn btn-secondary">Salir</button>
      .text-center
        p Editar Video
        img(id='cocoasLogo' src="./img/playeditor.png" alt="cocoa stream" class="btn btn-outline-secondary")
        
