doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    |
    .padder
      br
      br
      img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream" class="grid-item")
      .form-inline
        br
        p Nombre Administrador
      .text-right.botones-perfil
        //<button type="button" class="btn btn-primary">Subir Video</button>
        <button type="button" class="btn btn-secondary">Volver</button>
      .text-center
        p Editar Video
        <button type="button" class="btn btn-primary">Reupload</button>
        <button type="button" class="btn btn-secondary">Guardar</button>
        br
      .container
        .row
          .col-md-6
            br
            br
            img(id='cocoasLogo' src="/img/playeditor.png" alt="cocoa stream" class="btn btn-outline-secondary")
          .col-md-6 
            .text-center
              br
              br
              //<label class="col-form-label" for="inputDefault">Director</label>
              <input type="text" class="form-control" class="centro" placeholder="Director" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Fotografía</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Fotografía" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Cast</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Cast" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Maquillaje</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Maquillaje" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Género</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Género" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Año</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Año" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Otros</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Otros" id="inputDefault">
              //<label class="col-form-label" for="inputDefault">Director</label>
              br
              <input type="text" class="form-control" class="centro" placeholder="Director" id="inputDefault">
            
            
