extends layout

block content
    .grid-item-logo
        a(href="/" )
            img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream") 
    .grid-item
    .grid-item-menu
        a(href="/menu" )
            img(id='menuLogo' src="/img/menu.svg" alt="menu")
    .grid-item-icono
        .categoria
            img(id='cineIcono' src="/img/cineIcono.svg" alt="cine")
        .categoria
            img(id="tvIcono" alt="tv" src="/img/tvIcono.svg")
        .categoria
            img(id="animacionIcono" src="./img/animacionIcono.svg" alt="animacion")
        .categoria
            img(id="contactanosIcono" src="/img/contactanosIcono.svg" alt="contactanos")
        .categoria
            img(id='nosotrosIcono' src="/img/nosotrosIcono.svg", alt="nosotros")    
    .grid-item-filter
        img(id='iconos' src="/img/up.svg" alt="arriba" onClick='cambiarCat(-1)')
        .catName
            a(href='/cine') CINE
        .catName
            a(href="/tv") TV 
        .catName
            a(href="/animacion") ANIMACIÓN
        .catName
            a(href="/contactanos") CONTACTANOS
        .catName
            a(href="/nosotros") NOSOTROS
        img(id='iconos' src="/img/down.svg" alt="abajo" onClick='cambiarCat(1)')
    
    script
        include ../../public/javascripts/slider.js
    