doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    a(href='./cine') CINE
    a(href='./animacion') ANIMACIÓN
    a(href="./tv") T.V. PRODUCCIÓN
    a(href="./nosotros") NOSOTROS
    a(href="./contactanos") CONTACTANOS
    
