doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .grid-container
      .grid-item
        p= 'sebas'
      .grid-item
      .grid-item
      .grid-item
      .grid-item
      .grid-item
      .grid-item
        p= 'sebas'
      .grid-item
      .grid-item
    block content
    a(href='./cine') CINE
    a(href='./animacion') ANIMACIÓN
    a(href="./tv") T.V. PRODUCCIÓN
    a(href="./nosotros") NOSOTROS
    a(href="./contactanos") CONTACTANOS
    
