doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .grid-container
      .grid-item
        a(href="./index" )
          img(src="./img/logo.svg" alt="cocoa stream" style='width:139px; height:70px;') 
      .grid-item
        a(href="./nosotros") NOSOTROS
      .grid-item
        a(href="./contactanos") CONTACTANOS
      .grid-item
        img(src="./img/x.svg" alt="cerrar" style='width:40px;')
      .grid-item
        a(href='./cine') CINE
      .grid-item
        a(href='./animacion') ANIMACIÓN
      .grid-item 
        a(href="./tv") T.V. PRODUCCIÓN
      .grid-item
        img.image(src="./img/search.svg" alt="buscar" style='width:40px;')
    block content
