extends layout

block content
    .grid-item-logo
        a(href="./" )
            img(id='cocoasLogo' src="./img/logo.svg" alt="cocoa stream")
    .grid-item-back
        a(href="./menu" )
            img(id='backLogo' src="./img/back.svg" alt="retornar")
    .grid-item-filter
        a(href="./nosotros") DJANGO
    .grid-item-menu
        a(href="./menu" )
          img(id='menuLogo' src="./img/menu.svg" alt="menu")
    .grid-video
        img( src="./img/django.svg" alt="django" style="object-fit:cover;")
    .grid-play
        img( src="./img/play.svg" alt="play")
    .grid-item
    .grid-item
    .grid-item-textVideo
        p(class='grid-item-video-p') Dos años antes de la Guerra Civil, Django (Jamie Foxx), un esclavo, 
            |   se encuentra acompañando a un cazador de recompensas alemán 
            |   poco ortodoxo llamado Dr. King Schultz (Christoph Waltz) en una misión
            |   para capturar a los viciosos hermanos Brittle. Su misión tiene éxito, 
            |   Schultz libera a Django, y juntos buscan a los criminales del sur. 
            |   Sus viajes los llevan hasta el famoso territorio de Calvin Candie 
            |   (Leonardo DiCaprio), donde la esposa (Kerry Washington) de Django 
            |   sigue esclavizada.
    .grid-item
        img(id= "iconoName" src="./img/creditos.svg" alt="creditos")
    .grid-item
        p Director    Quentin Tarantino
        p Produccion  Reginald Hudlin
            |         Pilar Savone
            |         Brad Pitt
        p Guion       Quentin Tarantino
        p Musica      Luis Bacalov
        p Fotografia  Robert Richardson
    .grid-item-share
        img(id="iconos" src="./img/share.svg" alt="compartir" )
    .grid-item-return
        img(id="iconos" src="./img/return.svg" alt="arriba")
    