extends layout

block content
  .grid-item-logo
    a(href="/" )
      img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream") 
  .grid-item-nosotros
    a(href="/nosotros") NOSOTROS
  .grid-item-contactanos
    a(class='textMenu' href="/contactanos") CONTACTANOS
  .grid-item-x
    a(href="../")
      img(id='xLogo' src="/img/x.svg" alt="cerrar")
  .grid-item-cine
    a(href='/cine') CINE
  .grid-item
    a(href='/animacion') ANIMACIÓN
  .grid-item-tv
    a(href="/tv") T.V. PRODUCCIÓN
  .grid-item-search
    img.image(id='searchLogo' src="/img/search.svg" alt="buscar" )