extends layout

block content
  h1= title
  p #{title}
  p Somos una comunidad de artistas, comunicadores, educadores y profesionales de medios, que dentro de un ambiente interdisciplinario, estamos dedicados a formar a los futuros líderes en las áreas de comunicación, diseño creativo y producción audiovisual, y arte contemporáneo.