extends layout

block content
    .grid-item-logo
        a(href="/" )
          img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream")
    .grid-item-menu
        a(href="/menu" )
          img(id='menuLogo' src="/img/menu.svg" alt="menu")
    .grid-item-back
        a(href="/menu" )
          img(id='backLogo' src="/img/back.svg" alt="retornar")
    .grid-item-filter
        a(href="/nosotros") NOSOTROS 
    .grid-item-textNosotros
        p(class='grid-item-nosotros-p') Somos una comunidad de artistas, comunicadores, educadores
            |   y profesionales de medios, que dentro de un ambiente interdisciplinario,
            |   estamos dedicados a formar a los futuros líderes en las áreas
            |   de comunicación, diseño creativo y producción audiovisual,
            |   y arte contemporáneo.
    .grid-item
    .grid-item
