doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    |
    .padder
      br
      br
      img(id='cocoasLogo' src="../img/logo.svg" alt="cocoa stream" class="grid-item")
      .form-inline
        br
        p Nombre Administrador
      .text-right.botones-perfil
        form(action="/admin/editoradmin")
          button.btn.btn-primary(type='submit') Subir Video
        button.btn.btn-secondary(type='button') Salir
      .text-center
        p Mis Videos
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        br
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")
        img(id='cocoasLogo' src="../img/play.png" alt="cocoa stream" class="btn btn-outline-secondary")

