extends layout

block content
  .grid-item-logo
        a(href="/" )
            img(id='cocoasLogo' src="/img/logo.svg" alt="cocoa stream") 
  .grid-item-category
    img(id='iconos2' src="./img/left.svg" alt="izquierda")
    a(href='/' style="width: 120px;") DRAMA
    img(id='iconos2' src="/img/right.svg" alt="derecha")
  .grid-item-filter-secciones
    img(id='iconos' src="/img/up.svg" alt="arriba")
    a(href='/tv' style="width:220px;") T.V PRODUCCIÓN
    img(id='iconos' src="/img/down.svg" alt="abajo")
  .grid-item-menu
        a(href="/menu" )
            img(id='menuLogo' src="/img/menu.svg" alt="menu")
  .grid-item
        img(id= "iconoName" src="/img/queHacemos.svg")
  .grid-item-texto-secciones
    .textContInfo
      p La carrera de Producción para Me
        |  dios de Comunicación forma 
        |  individuos que tengan una combi
        |  nación de destrezas y habilidades
        |  técnicas con un riguroso conoci
        |  miento teórico y crítico del medio 
        |  para que se desenvuelvan 
        |  eficientemente en todos los ámbitos
        |  audiovisuales. 
  if message
    .error= message
  each video in videos
    .grid-contMult
        a(href="/tv/"+video._id)
          - var item = video.thumbnail;
          .miniatura !{item}    
  .grid-item
        img(id= "iconoLema" src="/img/tvConNosotros.svg")
  .grid-item
      img( id='instagramLogo' src="/img/instagram.svg" alt="instagram")
      img( id='fbLogo' src="./img/facebook.svg" alt="facebook")